<% if object&.errors&.any? %>
  <div class="bg-red-100 border border-red-400 text-red-700 p-4 mb-4">
    <ul class="list-disc list-inside space-y-1 text-sm">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
