<% flash.each do |message_type, message| %>
  <%
    flash_color = case message_type.to_sym
                  when :notice
                    "bg-green-100 border-green-400 text-green-700"
                  when :alert, :error
                    "bg-red-100 border-red-400 text-red-700"
                  else
                    "bg-blue-100 border-blue-400 text-blue-700"
                  end
  %>

  <div class="text-center border p-4 mb-4 <%= flash_color %>">
    <%= message %>
  </div>
<% end %>
