<div class="mx-auto px-4">
  <h1 class="text-2xl font-bold m-8 mb-4">仮の一覧画面</h1>
  <div class="flex flex-wrap gap-4">
    <% if @records.present? %>
      <% @records.each do |record| %>
        <div id="record-<%= record.id %>">
          <%= link_to record_path(record) do %>
            <%= image_tag switch_image_path(record.image, 300, 300), class: "w-48 h-48 object-cover" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
</div>
